.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #9525ff 0%, transparent 100%);
  color: rgb(255, 255, 255);
  padding: 1rem 8%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-logo {
  height: 40px;
  width: auto;
}
.navbar-link-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-link-container ul {
  color: inherit;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-link-container li .nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
    color: #f0f0f0;
}
.navbar-link-container li:hover .nav-link {
  border-bottom: 2px solid #3e0079;
  /* border-radius: 4px; */
}
.navbar-link-container li .nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-cart {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  color: #000000;
  background: transparent;
  transition: background 0.2s;
}

.navbar-cart:hover {
  background: none;
  color: rgb(255, 255, 255);
}
.navbar-auth-toggle {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 120px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(149, 37, 255, 0.1);
}
