.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-logo {
  height: 40px;
  width: auto;
}
.navbar-link-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-link-container ul {
  color: inherit;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-link-container li .nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.navbar-link-container li:hover .nav-link {
  border-bottom: 2px solid #3e0079;
  /* border-radius: 4px; */
}
.navbar-link-container li .nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.light-mode-icon {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  display: block;
}
.dark-mode-icon {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  display: block;
}