.title {
  text-align: center;
  color: #7d378f;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}
.title h2 {
  font-size: 1.5rem;
  margin-top: 5px;
  color: #81199b;
  text-transform: none;
}
