*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    background:#d2dcff ;
    transition: 0.5s;
    height: 100vh;
    width: 100%;
}
.container.dark {
    background:#222 ;
    padding: 0;
}
.container.light{
    padding: 0;
}
